*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    user-select: none;
}
.main{
    height:849px;
    width:1490px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExamRqMTB1a2RpNHNwOWVwYWp0enhuazhseWM5MGh6enZpYjVpMnBqbyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/pNLoBU0ZMLs2ltXkFV/giphy.gif')
}
.container{
    height:auto;
    /* min-height:150px; */
    width:900px;
    padding:12px;
    box-sizing: border-box;
    border-radius: 12px;
    backdrop-filter: blur(22px);
}
.input-numberOfSubjects{
    min-width:600px;
    color: #fff;
    font-weight: bolder;
    outline:none;
    border-radius: 12px;
    height:30px;
    background-color: transparent;
    text-align: center;
    box-sizing: border-box;
    padding:6px;
    margin:0px 12px;
    border:1px solid;
}
.sub-button{
    width:120px;
    margin:0px 12px;
    border-radius: 12px;
    outline:none;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-out;
    height: 30px;
}
.sub-button:hover{
    background-color: #fff;
    color: #000;
    height:32px;
    width:122px;
}
.each-subject{
    box-sizing: border-box;
    text-align: center;
    padding:6px 0px;
}
.subject-input{
    min-width:300px;
    color: #fff;
    outline:none;
    border-radius: 12px;
    height:30px;
    background-color: transparent;
    text-align: center;
    box-sizing: border-box;
    padding:6px;
    margin:4px 6px;
    border:1px solid;
}
.hid-cal-button{
    width:120px;
    height: 30px;
    margin:12px;
    border-radius: 12px;
    outline:none;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    display: none;
    transition: all 0.4s ease-out;
    cursor: pointer;
}
.hid-cal-button:hover{
    background-color: #fff;
    color: #000;
    height:32px;
    width:122px;
    cursor: pointer;
}
.cal-button{
    width:120px;
    height: 30px;
    margin:12px;
    border-radius: 12px;
    outline:none;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-out;
    display: block;
    cursor: pointer;
}
.cal-button:hover{
    background-color: #fff;
    color: #000;
    height:32px;
    width:122px;
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.delete-icon{
    height:30px;
    width:30px;
    border-radius: 30px;
    position: relative;
    top:10px;
    cursor: pointer;
}

.hidden{
    display: none;
    height:0px;
    width:0px;
    margin:0px;
    padding: 0px;
}

footer{
    position: absolute;
    height:75px;
    top:775px;
    width:1495px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(42px); */
}
footer p a{
    color: #fff;
}